<div class="item <%= widget.additional_classes(params) %>">
  <%= cms_image_tag widget, :image_source %>
  <div class="container">
    <div class="carousel-caption">
      <%= cms_tag :h1, widget, :headline %>
      <%= cms_tag :p, widget, :main_content %>
      <p>
        <a class="btn btn-lg btn-primary" href="#TODO" role="button">
          <%= display_field widget, :button_text %>
        </a>
      </p>
    </div>
  </div>
</div>
