<div class="section">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
      <div class="panel panel-default drop_shadow">
        <div class="panel-heading">Logout</div>
        <div class="panel-body">
          <div class="alert alert-info">
            Use <span class="badge">login</span> as user and <span class="badge">password</span> as password.
          </div>
          <%= form_tag session_path, role: 'form' do %>
            <div class="form-group">
              <%= label_tag :login, 'Login' %>
              <%= text_field_tag :login, '', class: 'form-control', placeholder: 'Enter login' %>
            </div>
            <div class="form-group">
              <%= label_tag :password, 'Password' %>
              <%= password_field_tag :password, '', class: 'form-control', placeholder: 'Enter password' %>
            </div>
            <button type="submit" class="btn btn-default">Log in</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>