<div class="scrivito-icon-box box_icon_i <%= widget.background_color %> <%= widget.size %> <%= widget.style %>">
  <span>
    <i class="fa fa-<%= widget.icon %> <%= widget.color %>"></i>
  </span>
</div>
