<div class="details-view">
  <h4>Headline</h4>
  <%= scrivito_tag(:p, widget, :headline) %>

  <h4>Headline Size</h4>
  <%= scrivito_edit_enum(widget, :headline_level, 'data-editor' => 'none') %>

  <h4>Subline</h4>
  <%= scrivito_tag(:p, widget, :subline) %>

  <h4>Text</h4>
  <%= scrivito_tag(:p, widget, :content) %>

  <h4>Image</h4>
  <%= scrivito_edit_reference(widget, :image) %>

  <h4>Link</h4>
  <%= scrivito_edit_link(widget, :link) %>

</div>
