<div class="details-view">
  <%= scrivito_details_for 'Headline' do %>
    <%= scrivito_tag(:p, widget, :headline) %>
  <% end %>

  <%= scrivito_details_for 'Headline Size' do %>
    <%= render partial: 'shared/toggle_buttons', locals: {obj: widget, attribute: "headline_level"} %>
  <% end %>

  <%= scrivito_details_for 'Subline' do %>
    <%= scrivito_tag(:p, widget, :subline) %>
  <% end %>

  <%= scrivito_details_for 'Text' do %>
    <%= scrivito_tag(:p, widget, :content) %>
  <% end %>

  <%= scrivito_details_for 'Image' do %>
    <%= scrivito_edit_reference(widget, :image) %>
  <% end %>

  <%= scrivito_details_for 'Link' do %>
    <%= scrivito_edit_link(widget, :link) %>
  <% end %>
</div>
