<div class="details-view">
  <h4>
    Headline
  </h4>
  <%= cms_edit_string(widget, :headline) %>

  <h4>
    Subline
  </h4>
  <%= cms_edit_string(widget, :subline) %>

  <h4>
    Text 
  </h4>
  <%= cms_edit_text(widget, :content) %>

  <h4>
    Image 
  </h4>
  <%= cms_edit_image(widget, :image) %>

  <h4>
    Link 
  </h4>
  <%= cms_edit_link(widget, :link) %>

</div>
