<div class="list_item">
  <% if widget.link.present? && !scrivito_in_editable_view? %>
    <%= link_to scrivito_path(widget.link) do %>
      <%= scrivito_image_tag widget, :image, class: "square" %>
    <% end %>
  <% else %>
    <%= scrivito_image_tag widget, :image, class: "square" %>
  <% end %>
  <div class="list_item_content">
    <% level = widget.headline_level || "h4" %>
    <% if widget.link.present? && !scrivito_in_editable_view? %>
      <%= link_to scrivito_path(widget.link) do %>
        <%= scrivito_tag level.to_sym, widget, :headline %>
      <% end %>
    <% else %>
      <%= scrivito_tag level.to_sym, widget, :headline %>
    <% end %>
    <%= scrivito_tag :div, widget, :subline, class: "meta" %>
    <%= scrivito_tag :p, widget, :content %>
  </div>
</div>
