<div class="details-view">
  <%= scrivito_details_for 'Title & Name' do %>
    <%= scrivito_tag :div, @obj, :title %>
  <% end %>

  <%= scrivito_details_for 'Is A Company?' do %>
    <%= render partial: 'shared/toggle_buttons', locals: {obj: @obj, attribute: "is_company"} %>
  <% end %>

  <%= scrivito_details_for 'Function' do %>
    <%= scrivito_tag :div, @obj, :function %>
  <% end %>
  <%= scrivito_details_for 'Telephone' do %>
    <%= scrivito_tag :div, @obj, :telephone %>
  <% end %>
  <%= scrivito_details_for 'Mobile' do %>
    <%= scrivito_tag :div, @obj, :mobile %>
  <% end %>
  <%= scrivito_details_for 'Email' do %>
    <%= scrivito_tag :div, @obj, :email %>
  <% end %>

  <%= scrivito_details_for 'Street' do %>
    <%= scrivito_tag :div, @obj, :street %>
  <% end %>
  <%= scrivito_details_for 'Postal (PLZ)' do %>
    <%= scrivito_tag :div, @obj, :postal %>
  <% end %>
  <%= scrivito_details_for 'Country' do %>
    <%= scrivito_tag :div, @obj, :country %>
  <% end %>

  <%= scrivito_details_for 'Image' do %>
    <%= scrivito_image_tag(@obj, :image) %>
  <% end %>
</div>
