<div class="details-view">
  <%= scrivito_details_for 'Icon' do %>
    <%= render 'icon_box_widget/partials/icons_picker', widget: widget, attribute: :icon %>
  <% end %>

  <%= scrivito_details_for 'Headline' do %>
    <%= scrivito_tag(:p, widget, :headline) %>
  <% end %>

  <%= scrivito_details_for 'Headline Size' do %>
    <%= render partial: 'shared/toggle_buttons', locals: {obj: widget, attribute: "headline_level"} %>
  <% end %>

  <%= scrivito_details_for 'Text' do %>
    <%= scrivito_tag(:p, widget, :content) %>
  <% end %>

  <%= scrivito_details_for 'Link' do %>
    <%= scrivito_edit_link(widget, :link) %>
  <% end %>
</div>
