<div class="list_icon">
  <div class="list_icon_col1">
    <i class="fa fa-<%= widget.icon %>"></i>
  </div>
  <div class="list_icon_col2">
    <% level = widget.headline_level || "h4" %>
    <% if widget.link.present? && !scrivito_in_editable_view? %>
      <%= link_to scrivito_path(widget.link) do %>
        <%= scrivito_tag level.to_sym, widget, :headline %>
      <% end %>
    <% else %>
      <%= scrivito_tag level.to_sym, widget, :headline %>
    <% end %>
    <%= scrivito_tag(:p, widget, :content) %>
  </div>
</div>
