<div class="bg_grey1">
  <div id="#content" class="container">
    <div class="row">
      <div class="col-md-12">
        <%= form_tag(scrivito_path(@obj), class: "floating_form") do -%>
          <%= text_field_tag 'q', @query, placeholder: 'Search' %>
          <%= button_tag 'Search' -%>
        <% end -%>
      </div>
    </div>
  </div>
</div>


<div class="bg_white">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <% if @query.present? && @hits.empty? -%>
          <h2>No Search Results</h2>
        <% else -%>
          <div class="headline"><h3>There are <%= @hits.size %> results for "<%= @query %>"</h3></div>

<!-- TODO: get pagination active -->
          <ul class="pagination clearfix">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">»</a></li>
          </ul>

          <% @hits.each do |hit| -%>
            <div class="list_item">
              <a href="#" class="square"><i class="foundicon-page"></i></a>
              <div class="list_item_content">
                <h4><%= link_to(hit[:title], scrivito_path(hit)) %></h4>
                <span class="meta"><%= hit.class.name %> <%= hit.last_changed %></span>
                <p><%= hit.summary %></p>
              </div>
            </div>
          <% end -%>
        <% end -%>
      </div>

<!-- TODO: Fill with dynamic box -->
      <div class="col-md-3 col-md-pull-9">
        <%= render "shared/side_nav" %>
      </div>

    </div>
  </div>
</div>
