<div class="details-view">
  <%= scrivito_details_for 'Title' do %>
    <%= scrivito_tag :div, @obj, :title %>
  <% end %>

  <%= scrivito_details_for 'Header Image' do %>
    <%= scrivito_image_tag(@obj, :header_image) %>
  <% end %>

  <%= scrivito_details_for 'Header Icon' do %>
    <%= render 'icon_box_widget/partials/icons_picker', widget: @obj, attribute: :icon %>
  <% end %>

  <%= scrivito_details_for 'Show in Navigation?' do %>
    <%= render partial: 'shared/toggle_buttons', locals: {obj: @obj, attribute: "show_in_navigation"} %>
  <% end %>
</div>
