<% if @obj.teaser_headline.presence || @obj.teaser_content.presence || scrivito_in_editable_view? %>
  <div class="bg_grey1">
    <div id="#content" class="container">
      <div class="row">
        <div class="col-md-12">
          <%= scrivito_tag :h3, @obj, :teaser_headline %>
          <%= scrivito_tag :p,  @obj, :teaser_content %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="bg_white">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <%= scrivito_tag :h1, @obj, :title %>
        <%= render partial: 'shared/breadcrumbs' %>
        <%= scrivito_tag :div, @obj, :content %>
        <div class="page_footer">
          <a href="/"> <i class="foundicon-home"></i> Home </a>
          <a href="#top"><i class="foundicon-up-arrow"></i>Back to top</a>
        </div>

      </div>
      <div class="col-md-3 col-md-pull-9">

        <ul class="side_nav">
          <li><a href="">More Lorem Ipsum</a></li>
          <li><a href="">Egal Lormaot</a></li>
          <li class="active">
            <a href="">Fioenf and Andat</a>
            <ul>
              <li><a href="">2. Level  Dolor Cycle</a></li>
              <li><a href="">Product Portfolio</a></li>
              <li><a href="">Benefits</a>
                <ul>
                  <li><a href="">3. Level Ipsum Dolor Cycle</a></li>
                  <li><a href="">Product Portfolio</a></li>
                  <li><a href="">Benefits</a></li>
                </ul>
              </li>
              <li><a href="">Food Lorem</a></li>
            </ul>
          </li>
          <li><a href="">Lorem Dolorm</a></li>
          <li><a href="">Egalfi Halaous</a></li>
        </ul>

      </div>

    </div>
  </div>
</div>

<%= render 'shared/other_content' %>
