<% if @obj.teaser_headline.presence || @obj.teaser_content.presence || scrivito_in_editable_view? %>
  <div class="bg_grey1">
    <div id="#content" class="container">
      <div class="row">
        <div class="col-md-12">
          <%= scrivito_tag :h3, @obj, :teaser_headline %>
          <%= scrivito_tag :p,  @obj, :teaser_content %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="bg_white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= scrivito_tag :div, @obj, :body %>
        <%= render partial: "shared/content_footer" %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/other_content' %>
