<div class="details-view">
  <%= scrivito_details_for 'Link' do %>
    <%= scrivito_edit_link widget, :link %>
  <% end %>

  <%= scrivito_details_for 'Width' do %>
    <%= scrivito_tag(:span, widget, :width) %>
  <% end %>

  <%= scrivito_details_for 'Height' do %>
    <%= scrivito_tag(:span, widget, :height) %>
  <% end %>
</div>
