<% if widget.person.present? %>
  <div class="box_<%= widget.colour %>">
    <% if widget.person.is_company? && widget.person.googlemap.present? %>
      <iframe frameborder="0" width="100%" height="250" src="<%= widget.person.googlemap.url %>" style="border:0"></iframe>
    <% end %>
    <% unless widget.show_picture == "No" %>
      <%= scrivito_image_tag(widget.person, :image, class: "img-responsive") %>
    <% end %>
    <div class="h3"><%= scrivito_field widget.person, :title %></div>
    <small><%= scrivito_field widget.person, :function %></small>
    <p><%= scrivito_field widget.person, :street %><br>
      <%= scrivito_field widget.person, :postal %><br>
      <%= scrivito_field widget.person, :country %>
    </p>
    <p>
      T: <%= scrivito_field widget.person, :telephone %><br>
      F: <%= scrivito_field widget.person, :fax %><br>
      M: <%= scrivito_field widget.person, :mobile %><br>
    </p>
    <p><a href="mailto:<%= scrivito_field widget.person, :email %>"><%= scrivito_field widget.person, :email %></a></p>
    <% if widget.person.facebook.present? %>
      <a href="<%= scrivito_field widget.person, :facebook %>"><i class="foundicon-facebook"></i></a>
    <% end %>
    <% if widget.person.googleplus.present? %>
      <a href="<%= scrivito_field widget.person, :googleplus %>"><i class="foundicon-google-plus"></i></a>
    <% end %>
    <% if widget.person.twitter.present? %>
      <a href="<%= scrivito_field widget.person, :twitter %>"><i class="foundicon-twitter"></i></a>
    <% end %>
    <% if widget.person.slideshare.present? %>
      <a href="<%= scrivito_field widget.person, :slideshare %>"><i class="foundicon-slideshare"></i></a>
    <% end %>
  </div>
<% else %>
  <% if scrivito_in_editable_view? %>
    <%= scrivito_edit_reference(widget, :person) %>
  <% end %>
<% end %>

