<div class="details-view">
  <div class="row">
    <div class="col-sm-5">
      <%= scrivito_details_for 'Image' do %>
        <%= scrivito_image_tag widget, :image %>
      <% end %>
    </div>
    <div class="col-sm-7">
      <%= scrivito_details_for 'Show shadow?' do %>
        <%= scrivito_tag :div, widget, :show_shadow %>
      <% end %>
    </div>
  </div>

  <%= scrivito_details_for 'Show Image in Gallery' do %>
    <%= scrivito_tag :div, widget, :show_in_lightbox %>
  <% end %>

  <%= scrivito_details_for 'Large Version of Image<small>Original image as fallback</small>'.html_safe do %>
    <%= scrivito_tag :div, widget, :lightbox_reference %>
  <% end %>

  <%= scrivito_details_for 'Gallery Name<small>starts with a #</small>'.html_safe do %>
    <%= scrivito_tag(:div, widget, :lightbox_gallery_name) %>
  <% end %>
</div>
